@font-face {
  font-family: "Cormorant Garamond";
  src: url("./Fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf")
    format("truetype");
}

html {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
#content {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100vh;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.bodyContainer {
  background: black;
  overflow-y: scroll;
}
.name {
  border-top: 2px brown solid;
  border-bottom: 2px brown solid;
  font-weight: 500;
  color: brown;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 100px;
  margin: 50px 20px 0 20px;
}
button {
  color: brown;
  font-family: "Cormorant Garamond";
  font-size: 30px;
  border: none;
  background: none;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
button:hover {
  cursor: pointer;
  transform: translateY(10px);
}
.me {
  color: brown;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  border: none;
  background: none;
}

.menuBody,
.contactBody {
  animation: fadeIn 1s ease-in-out;
}
.homeBody {
  animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
